@using projectman.Models
@using CSHelper.Authorization
@{
    Layout = "_Layout";

    var activeAction = Context.Request.RouteValues["action"].ToString();
    var activeController = Context.Request.RouteValues["controller"].ToString();

    ViewData["NavBarID"] = "#sidebar-container";
}
<!-- Sidebar -->
<!-- d-* collapses the navbar into a hamburger on smaller screens -->
<nav id="sidebar-container" class="sidebar d-md-block collapse nav">
    @{
        var is_active_admin = activeController == "Admin";

        var is_active_project = activeController == "Project";
        var is_active_company = activeController == "Company";
        var is_active_contact = activeController == "Contact";
        var is_active_invoice = activeController == "Invoice";
        var is_active_product = activeController == "Product";

        var is_active_service = is_active_project || is_active_company || is_active_contact || is_active_invoice || is_active_product;
    }
    <div class="nav-item" data-bs-toggle="collapse" data-bs-target="#project_menu" @if (!is_active_service) { <text> aria-expanded="false" </text> }>
        <span class="collapsible">服務管理</span>
    </div>

    <div class="sidebar-submenu collapse @if (is_active_service) {<text>show</text> }" id="project_menu">
        <a class="nav-item @((is_active_project && activeAction=="Dashboard") ? "active" : "" )" asp-controller="Project" asp-action="Dashboard">
            <span class="fa fa-gauge fa-fw me-3"></span>
            <span class="collapsible">儀表板</span>
        </a>
        <a class="nav-item @((is_active_project && activeAction=="Index") ? "active" : "" )" asp-controller="Project" asp-action="Index">
            <span class="fa-solid fa-file fa-fw me-3"></span>
            <span class="collapsible">案件管理</span>
        </a>

        <a class="nav-item @((is_active_company && activeAction=="Index") ? "active" : "" )" asp-controller="Company" asp-action="Index">
            <span class="fa-solid fa-building fa-fw me-3"></span>
            <span class="collapsible">單位管理</span>
        </a>
        <a class="nav-item  @((is_active_contact && activeAction=="Index") ? "active" : "" )" asp-controller="Contact" asp-action="Index">
            <span class="fa-solid fa-address-card fa-fw me-3"></span>
            <span class="collapsible">個⼈管理</span>
        </a>
        <a class="nav-item  @((is_active_invoice && activeAction=="Index") ? "active" : "" )" asp-controller="Invoice" asp-action="Index">
            <span class="fa-solid fa-receipt fa-fw me-3"></span>
            <span class="collapsible">發票</span>
        </a>
        <a class="nav-item  @((is_active_product && activeAction=="Index") ? "active" : "" )" asp-controller="Product" asp-action="Index">
            <span class="fa-solid fa-box fa-fw me-3"></span>
            <span class="collapsible">商品</span>
        </a>
    </div>

    <!-- Separator without title -->
    <div class="nav-item sidebar-separator"></div>

    <div class="nav-item" data-bs-toggle="collapse" data-bs-target="#admin_menu" @if (!is_active_admin) { <text> aria-expanded="false" </text> }>
        <span class="collapsible">平台管理</span>
    </div>
    <div class="sidebar-submenu collapse @if (is_active_admin) {<text>show</text> }" id="admin_menu">

        @if (Context.User.HasPermission(UserPermission.ManageUser))
        {
            <a class="nav-item  @((activeController=="Admin" && activeAction=="Index") ? "active" : "" )" asp-controller="Admin" asp-action="Index">
                <span class="fa fa-user fa-fw me-3"></span>
                <span class="collapsible">帳號管理</span>
            </a>
        }

        <a class="nav-item  @((activeController=="Admin" && activeAction=="Setting") ? "active" : "" )" asp-controller="Admin" asp-action="Setting">
            <span class="fa fa-gears fa-fw me-3"></span>
            <span class="collapsible">平台設定</span>
        </a>
    </div>

    <!-- Separator without title -->
    <div class="nav-item sidebar-separator"></div>
    <!-- /END Separator -->
    <a href="#top" data-toggle="sidebar-collapse" data-target="#sidebar-container" class="nav-item">
        <span class="fa fa-fw me-3"></span>
        <span class="collapse-icon collapsible">隱藏</span>
    </a>
</nav><!-- sidebar-container END -->

<main role="main" class="p-4 pb-3 d-flex flex-column">
    @RenderBody()
</main>
@section Footer {
<button id="footer-show" class="btn d-none text-white"><i class="fas fa-minus"></i></button>
<button id="footer-hide" class="btn d-none"><i class="fas fa-plus"></i></button>
<footer class="border-top text-muted">
    <div class="container">
        <b>機密提醒</b>
        本系統登入後全程有進行全程使用軌跡紀錄。
        (IP來源: @Context.Request.HttpContext.Connection.RemoteIpAddress)
        &nbsp;
        系統版本: @(CSHelper.AssemblyInfo.Date.ToString("yyyy-MM-dd HH:mm"))
    </div>
</footer>
}
@section Scripts {
<script>
enableAutoReload();

        $(function () {
            let dashboard = document.getElementById('dashboard');
            $(dashboard).on('click', (e) => {
                window.location.href = '@Url.Action("Dashboard")';
            });
        });
</script>
@RenderSection("Scripts", required: false)
}