@using repairman.Models
@using CSHelper.Authorization
@{
    Layout = "_Layout";

    var activeAction = Context.Request.RouteValues["action"].ToString();
    var activeController = Context.Request.RouteValues["controller"].ToString();

    ViewData["NavBarID"] = "#sidebar-container";
}
<!-- Sidebar -->
<!-- d-* collapses the navbar into a hamburger on smaller screens -->
<nav id="sidebar-container" class="sidebar d-md-block collapse nav">
    @{
        var is_active_admin = activeController == "Admin";
        var is_active_message = activeController == "ServiceRequest";
    }
    <div id="dashboard" class="nav-item" data-bs-toggle="collapse" data-bs-target="#message_menu" @if (!is_active_message) { <text> aria-expanded="false" </text> }>
        <span class="collapsible">服務管理</span>
    </div>

    <div class="sidebar-submenu collapse @if (is_active_message) {<text>show</text> }" id="message_menu">

        <a class="nav-item @((activeController=="Project" && activeAction=="Index") ? "active" : "" )" asp-controller="Project" asp-action="Index">
            <span class="fa fa-tools fa-fw me-3"></span>
            <span class="collapsible">案件管理</span>
        </a>

        <a class="nav-item @((activeController=="Company" && activeAction=="Index") ? "active" : "" )" asp-controller="Company" asp-action="Index">
            <span class="fa fa-tags fa-fw me-3"></span>
            <span class="collapsible">單位管理</span>
        </a>
        <a class="nav-item  @((activeController=="Persona" && activeAction=="Index") ? "active" : "" )" asp-controller="Persona" asp-action="Index">
            <span class="fa fa-building fa-fw me-3"></span>
            <span class="collapsible">個⼈管理</span>
        </a>
    </div>

    <!-- Separator without title -->
    <div class="nav-item sidebar-separator"></div>

    <div class="nav-item" data-bs-toggle="collapse" data-bs-target="#admin_menu" @if (!is_active_admin) { <text> aria-expanded="false" </text> }>
        <span class="collapsible">平台管理</span>
    </div>
    <div class="sidebar-submenu collapse @if (is_active_admin) {<text>show</text> }" id="admin_menu">

        @if (Context.User.HasPermission(UserPermission.ManageUser))
        {
            <a class="nav-item  @((activeController=="Admin" && activeAction=="Index") ? "active" : "" )" asp-controller="Admin" asp-action="Index">
                <span class="fa fa-user fa-fw me-3"></span>
                <span class="collapsible">帳號管理</span>
            </a>
            <a class="nav-item  @((activeController=="Admin" && activeAction=="Group") ? "active" : "" )" asp-controller="Admin" asp-action="Group">
                <span class="fa fa-users fa-fw me-3"></span>
                <span class="collapsible">服務品項</span>
            </a>
        }

    </div>

    <!-- Separator without title -->
    <div class="nav-item sidebar-separator"></div>
    <!-- /END Separator -->
    <a href="#top" data-toggle="sidebar-collapse" data-target="#sidebar-container" class="nav-item">
        <span class="fa fa-fw me-3"></span>
        <span class="collapse-icon collapsible">隱藏</span>
    </a>
</nav><!-- sidebar-container END -->

<main role="main" class="p-4 pb-3 d-flex flex-column">
    @RenderBody()
</main>
@section Footer {
<button id="footer-show" class="btn d-none text-white"><i class="fas fa-minus"></i></button>
<button id="footer-hide" class="btn d-none"><i class="fas fa-plus"></i></button>
<footer class="border-top text-muted">
    <div class="container">
        <b>機密提醒</b>
        本系統登入後全程有進行全程使用軌跡紀錄。
        (IP來源: @Context.Request.HttpContext.Connection.RemoteIpAddress)
        &nbsp;
        系統版本: @(CSHelper.AssemblyInfo.Date.ToString("yyyy-MM-dd HH:mm"))
    </div>
</footer>
}
@section Scripts {
<script>
enableAutoReload();

        $(function () {
            let dashboard = document.getElementById('dashboard');
            $(dashboard).on('click', (e) => {
                window.location.href = '@Url.Action("Dashboard")';
            });
        }
</script>
@RenderSection("Scripts", required: false)
}