@model projectman.Models.Company
@using CSHelper.Extensions
@{
    ViewData["Title"] = "新增單位";
    Layout = "_Layout";
}

<div class="container h-100 d-flex flex-column">
    <div class="row mb-3 mt-4">
        <div class="col">
            <button type="button" class="btn btn-light btn-back"><i class="fas fa-caret-left"></i></button>
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <form id="update" asp-action="New">
    @Html.AntiForgeryToken()
    <div class="container">
            <div class="row mt-4">
            <div class="col text-start">
                @Html.LabelFor(m => m.name, new { @class = "form-label form-view-hide" })
                @Html.TextBoxFor(m => m.name, new { @class = "form-control form-text" })
            </div>
            <div class="col text-start">
                @Html.LabelFor(m => m.vatid, new { @class = "form-label form-view-hide" })
                @Html.TextBoxFor(m => m.vatid, new { @class = "form-control form-text" })
            </div>
        </div>
            <div class="row mt-4">
                <div class="col-3 text-start">
                @Html.LabelFor(m => m.credit_rating, new { @class = "form-label" })
                @Html.DropDownListFor(m => m.credit_rating_code, (IEnumerable<SelectListItem>)ViewData["credit"], new { @class = "form-select" })
            </div>
            <div class="col-3 text-start">
                @Html.LabelFor(m => m.website, new { @class = "form-label form-view-hide" })
                @Html.TextBoxFor(m => m.website, new { @class = "form-control form-text" })
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row mt-4">
                <div class="col-4 text-start">
                    @Html.LabelFor(m => m.remarks, new { @class = "form-label form-view-hide" })
                    @Html.TextAreaFor(m => m.remarks, new { @class = "form-control form-text" })
            </div>
            <div class="col-8"></div>
        </div>
        <div class="row mt-4">
                <div class="col text-start">
                 @Html.LabelFor(m => m.phones, new { @class = "form-label" })

                    <div class="row mb-1" data-form-group-start="Phone">
                        <div class="col-auto">
                            <div class="row mb-1 d-none" data-form-group="Phone">
                                <div class="col-auto">
                                    @Html.DropDownList("temp", CSHelper.Extensions.RenderingExtension.GetSelectList<PhoneType>(), new { @class = "form-select", @data_form_group_subname = "type" })
                                </div>
                                <div class="col-auto">
                                    @Html.TextBox("temp", "", new { @class = "form-control", @data_form_group_subname = "number", @type = "tel" })
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-secondary" onclick="formGroupRemove(this)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button" onclick="formGroupAdd(this)">+ 增加</button>
                        </div>
                    </div>
            </div>
        </div>

            <div class="row mt-4">
                <div class="col text-start">
                    @Html.LabelFor(m => m.addresses, new { @class = "form-label" })

                    <div class="row mb-1" data-form-group-start="Address">
                        <div class="col-auto">
                            <div class="row mb-1 d-none" data-form-group="Address">
                                <div class="col-auto">
                                    @Html.DropDownList("temp", CSHelper.Extensions.RenderingExtension.GetSelectList<ContactAddressType>(), new { @class = "form-select", @data_form_group_subname = "type" })
                                </div>
                                <div class="col-auto">
                                    @Html.TextBox("temp", "", new { @class = "form-control", @data_form_group_subname = "addr" })
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-secondary" onclick="formGroupRemove(this)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button" onclick="formGroupAdd(this)">+ 增加</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col text-start">
                    @Html.LabelFor(m => m.emails, new { @class = "form-label" })

                    <div class="row mb-1" data-form-group-start="Email">
                        <div class="col-auto">
                            <div class="row mb-1 d-none" data-form-group="Email">
                                <div class="col-auto">
                                    @Html.DropDownList("temp", CSHelper.Extensions.RenderingExtension.GetSelectList<ContactAddressType>(), new { @class = "form-select", @data_form_group_subname = "type" })
                                </div>
                                <div class="col-auto">
                                    @Html.TextBox("temp", "", new { @class = "form-control", @data_form_group_subname = "email", @type = "emailaddress" })
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-secondary" onclick="formGroupRemove(this)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button" onclick="formGroupAdd(this)">+ 增加</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger d-none" role="alert">
            </div>
            <button type="submit" class="btn btn-primary mb-4 mt-4">新增</button>
    </div>
    </form>
</div>
@section Scripts {

    <script>

        $(function () {

            var form = $('#update');
            form.initAsAjaxForm({
                success: function (data) {
                    var result = createErrorList(data);
                    if (result == null) {
                        window.opener.postMessage({comp: data}, '*');
                        window.history.back();
                        window.close();
                    } else {
                        var alert = form.find(".alert");
                        alert.html(result);
                        alert.removeClass('d-none');
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    var alert = form.find(".alert");
                    alert.text(AjaxErrorToString(xhr, textStatus, errorThrown));
                    alert.removeClass('d-none');
                },
                validate: function () {
                    return null
                }
            });
        });

    </script>
} 