@using CSHelper.Extensions
@model List<repairman.Models.ServiceRequest>
@{
    ViewData["Title"] = "修報紀錄";
}
@section Header {
    <link rel="stylesheet" href="~/css/site-man.css" />

}
<div class="text-center">
    <h1 class="display-4">報修紀錄</h1>
   
    <form asp-action="List">

        <button type="submit" class="btn btn-primary">搜尋</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>編號</th>
                <th>申請日期</th>
                <th>申請人</th>
                <th>項目</th>
                <th>狀態</th>
            </tr>
        </thead>

        <tbody>
        @foreach( var m in Model )
        {
            <tr>
                <td>@m.ID</td>
                <td><span data-datetime="@m.date.ToString("o")"></span></td>
                <td>@m.name</td>
                <td>@m.sub_cat.cat.name - @m.sub_cat.name</td>
                <td>@m.status.GetDisplayName()
                    @if(m.status==ServiceRequestStatus.Completed) 
                    {
                    <span data-datetime="@m.modify_date.ToString("o")"></span>    
                    }
                </td>
            </tr>
        }
        </tbody>


    </table>



</div>

@section Scripts {
<script src="~/js/site-man.js" asp-append-version="true"></script>
}