<!--Modal Body Start-->
<div class="modal-content">

    <!--Modal Header Start-->
    <div class="modal-header">
        <h4 class="modal-title">選擇商品</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉" />
    </div>
    <!--Modal Header End-->

    <div class="modal-body">

        <div class="row py-2">

            <div class="col-auto">
                @Html.AntiForgeryToken()
                <label for="query_keyword" class="form-label">品名</label>
                <input type="text" class="form-control" id="picker_list_keyword" name="search">
            </div>
            <div class="col-3">
                @Html.Label("Brand","商牌", new { @class = "form-label" })
                @Html.DropDownList("brand", (IEnumerable<SelectListItem>)ViewData["brands"], new { @class = "form-control form-select", @id = "product_brand" })
            </div>
            <div class="col-3">
                @Html.Label("category","商品類別", new { @class = "form-label" })
                @Html.DropDownList("category", (IEnumerable<SelectListItem>)ViewData["categories"] ,new { @class = "form-select", @id = "product_category" })
            </div>

            <div class="col text-end align-self-end">
                <button id="picker_list_query" class="btn btn-primary" role="button">搜尋</button>
            </div>
        </div>


        <table id="picker_list"
               class="table table-noresize"
               data-cs-table
               data-cs-url="@Url.ActionLink("PickerQuery")"
               data-cs-on-prepare-fetch="updatePickerList">
            <thead>
                <tr>
                    <th data-cs-field="id" data-cs-sortable="local">ID</th>
                    <th data-cs-field="code" data-cs-sortable="local">品號</th>
                    <th data-cs-field="brand_name" data-cs-sortable="local">品牌</th>
                    <th data-cs-field="model_name" data-cs-sortable="local">型號</th>
                    <th data-cs-field="name" data-cs-sortable="local">品名</th>
                    <th data-cs-field="category" data-cs-sortable="local">類別</th>
                </tr>
            </thead>
        </table>

    </div>
    <div class="modal-footer">
        <button type="button" id="picker_list_ok" class="btn btn-secondary" disabled>確定</button>
    </div>

</div>
<!--Modal Body End-->  
<script>

function updatePickerList(params, options, table) {
    params.append('search', $('#picker_list_keyword').val());
    params.append('brand', $('#product_brand').val());
    params.append('category', $('#product_category').val());
}


$(function () {
    var table = new CSTable($("#picker_list")[0], {
        minSelItems : 1,
        maxSelItems : 1
    });

    table.addEventListener('clickcell', evt => {
        $('#picker_list_ok').prop('disabled', table.selections.size == 0)
    });

    $('#picker_list_query').on('click', evt => {
        evt.preventDefault();    // prevent default behavior
        table.fetch();
    });

    $('#picker_list_ok').initDismissModalButton( true, dialog => {
        let [idx] = table.selections;
     
        return {
            "product_id" : table.data[idx]["id"],
            "product.brand.name" : table.data[idx]["brand_name"],
            "product.model_name": table.data[idx]["model_name"],
            "category": table.data[idx]["category"]
        }
    });
})

</script>