@model projectman.Models.Product
@using CSHelper.Extensions
@{
    ViewData["Title"] = "商品 " + Model.name;
    Layout = "_Layout";
}


<div class="container h-100 d-flex flex-column">

    <div class="row mb-3 mt-4">
        <div class="col">
            <button type="button" class="btn btn-light btn-back"><i class="fas fa-caret-left"></i></button>

            <button class="btn btn-primary" type="button" id="update-enable-button">編輯</button>
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <form id="update" data-enable-button="#update-enable-button" asp-action="View" asp-route-id="@Model.ID">
                @Html.AntiForgeryToken()

                <button type="reset" class="btn btn-secondary">取消</button>
                <button type="submit" class="btn btn-primary">更新</button>
                <div class="row mb-3">
                    <div class="col">
                        @Html.LabelFor(m => m.name, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control form-text" })
                    </div>
                    <div class="col-4">
                        @Html.LabelFor(m => m.category, new { @class = "form-label" })
                        @Html.DropDownListFor(m => m.category, new { @class = "form-control form-select" })
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        @Html.LabelFor(m => m.brand, new { @class = "form-label" })
                        @Html.DropDownListFor(m => m.brand_id, (IEnumerable<SelectListItem>)ViewData["brands"], new { @class = "form-control form-select" })
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        @Html.LabelFor(m => m.model_name, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.model_name, new { @class = "form-control form-text" })
                    </div>
                    <div class="col-4">
                        @Html.LabelFor(m => m.code, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.code, new { @class = "form-control form-text" })
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        @Html.LabelFor(m => m.desc, new { @class = "form-label" })
                        @Html.TextAreaFor(m => m.desc, new { @class = "form-control form-text" })
                    </div>
                </div>


            </form>

        </div>
    </div>


</div>

@section Scripts {
    <script>

        $(function () {
            $('#update').initAsToggleForm(false);
        });

    </script>
} 