@model repairman.Models.ServiceRequest
@using CSHelper.Extensions
@{
    ViewData["Title"] = "新增報修案";
    Layout = "_Layout";
}

<div class="container h-100 d-flex flex-column">
    <div class="row mb-3 mt-4">
        <div class="col">
            <button type="button" class="btn btn-light btn-back"><i class="fas fa-caret-left"></i></button>
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <div class="row">
        <div class="col mx-1 mx-md-5">

            <form id="update" asp-action="New">
                @Html.AntiForgeryToken()

                <div class="col-md-4">
                    @Html.LabelFor(m => m.dept_id, new { @class = "form-label" })
                    @Html.DropDownListFor(m => m.dept_id, (IEnumerable<SelectListItem>)ViewData["dept"], new { @class = "form-select" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(m => m.name, new { @class = "form-label form-view-hide" })
                    @Html.TextBoxFor(m => m.name, new { @class = "form-control form-text" })
                </div>
                
                <div class="col-md-3">
                    @Html.LabelFor(m => m.phone, new { @class = "form-label form-view-hide" })
                    @Html.TextBoxFor(m => m.phone, new { @class = "form-control form-text" })
                </div>
                
                <div class="col-md-6">
                    @Html.LabelFor(m => m.email, new { @class = "form-label form-view-hide" })
                    @Html.TextBoxFor(m => m.email, new { @class = "form-control form-text" })
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(m => m.date, new { @class = "form-label form-view-hide" })
                    @Html.LocalDateTimeInputFor(m => m.date, new { @class = "form-control", @step = "1" })
                </div>

                <div class="col-md-2">
                    @Html.Label( "cat_id", "主類別", new { @class = "form-label" })
                    @Html.DropDownList( "cat_id", (IEnumerable<SelectListItem>)ViewData["cat"], new { @class = "form-select", @onchange = "javascript:GetCats(this.value);" })
                </div>

                <div class="col-6">
                    @Html.LabelFor(m => m.sub_cat_id, new { @class = "form-label" })
                    @Html.DropDownListFor(m => m.sub_cat_id, (IEnumerable<SelectListItem>)ViewData["subcat"], new { @class = "form-select" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.desc, new { @class = "form-label" })
                    @Html.TextAreaFor(m => m.desc, new { @class = "form-control" })
                </div>
                                
                <div class="mb-3">
                    @Html.LabelFor(m => m.files, new { @class = "form-label" })

                    <div class="row mb-1">
                        <div class="col-auto align-items-center d-flex" data-form-group-start="files">
                            <div class="col-auto m-1 d-none" data-form-group="files">
                                <div class="row">
                                    <div class="col-auto">
                                        <i class="far fa-file"></i> <span class="form-upload-file filename" data-form-group-tempname="name"></span>
                                    </div>
                                    <input type="file" data-form-group-subname="file" class="d-none" />
                                    <div class="col-auto">
                                        <button type="button" class="btn" onclick="formGroupRemove(this)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <label class="form-upload-area btn btn-secondary" for="file_upload">
                                <input type="file" name="file_upload" data-form-group-target="files" multiple />
                                <i class="fas fa-file-upload"></i>
                                <span>拖放或點這裡<br>新增檔案</span>
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="mb-3">
                    @Html.LabelFor(m => m.pics, new { @class = "form-label" })

                    <div class="row mb-1">
                        <div class="col-auto align-items-center d-flex" data-form-group-start="pics">
                            <div class="col-auto m-1 d-none" data-form-group="pics">
                                <img src="~/img/logo-man-sm.png" class="form-upload-pic" data-form-group-tempname="pic" />
                                <div class="row">
                                    <input type="file" data-form-group-subname="file" accept="image/*,jpg,jpeg,png" class="d-none" />
                                    <div class="col-auto">
                                        <button type="button" class="btn" onclick="formGroupRemove(this)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <label class="form-upload-area btn btn-secondary" for="pic_upload">
                                <input type="file" name="pic_upload" data-form-group-target="pics" accept="image/*,jpg,jpeg,png" multiple />
                                <i class="fas fa-file-upload"></i>
                                <span>拖放或點這裡<br>新增圖片</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="alert alert-danger d-none" role="alert">
                </div>

                <button type="submit" class="btn btn-primary">新增</button>

            </form>

        </div>
    </div>
</div>

@section Scripts {

<script>

    $(function () {
        
        var form = $('#update');
        form.initAsAjaxForm({
            success: function (data) {
                var result = createErrorList(data);
                if (result == null) {
                    window.history.back();
                } else {
                    var alert = form.find(".alert");
                    alert.html(result);
                    alert.removeClass('d-none');
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                var alert = form.find(".alert");
                alert.text(AjaxErrorToString(xhr, textStatus, errorThrown));
                alert.removeClass('d-none');
            },
            validate: function() {
                return null
            }
        });
                
    });
    
    function GetCats(_type) {
        $("#sub_cat_id").loadSelect(
            '@HttpUtility.JavaScriptStringEncode(Url.Action("ListSubCatsForType", "ServiceRequest"))',
            { type: _type },
            {
                blankOption: "選擇類別..."
            });
    }
</script>
} 